<body class="sparky bootstrap home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-container">
          <div class="row">
            <div class="slider-labels col-xs-12">
                <a href="#" data-slider="1"><span class="icon pe-is-w-sun-1"></span></a>
                <a href="#" data-slider="2"><span class="icon pe-is-w-partly-cloudy-1"></span></a>
                <a href="#" data-slider="3"><span class="icon pe-is-w-mostly-cloudy-1"></span></a>
                <a href="#" data-slider="4"><span class="icon pe-is-w-moon-1"></span></a>
            </div>
            <div id="slider"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="animated fadeIn welcome">
          <h2>The Tennessee River. It's just a river, right?</h2>
          <h3>Maybe at first glance, but if you look a little bit closer, you will find that it is much more than just a river. It's a home. It's a business. It's a playground. It's a part of history, and it will be part of the future for the Tennessee Valley, the United States, and the world.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 button-holder">
        <div class="button animated fadeIn">
          <a routerLink="/trek-start" class="btn btn-lg btn-start">Start Your River Trek</a>
          <h3 class="button-description">The Tennessee River has something for every explorer, and you can explore the Tennessee River many ways.</h3>
        </div>
      </div>
    </div>
  </div>

  <usernav-component></usernav-component>
  <img src="assets/images/compass.png" class="compass animated slideInUp">
