
  <div class="table-responsive">
    <table>
      <tbody><tr>
        <td class="trek-contents"><span><a (click)="goToNext()" class="available"><span><strong>Your River Trek Contents</strong></span></a></span></td>
        <td class="river-navigation"><a (click)="goToNext()"  class="available"><span><strong>1.</strong> River Navigation</span></a></td>
        <td class="hydropower"><a (click)="goToNext()" class="available"><span><strong>2.</strong> Hydropower</span></a></td>
        <td class="watershed"><a (click)="goToNext()"  class="available"><span><strong>3.</strong> Watershed Management</span></a></td>
        <td class="history"><a (click)="goToNext()"  class="available"><span><strong>4.</strong> History &amp; Culture</span></a></td>
        <td class="water-withdrawal"><a routerlink="/" class="available"><span><strong>5.</strong> Water Withdrawal</span></a></td>
      </tr>
    </tbody></table>
  </div>
<!--<div class="select-band select-band-contents animated fadeIn"></div>-->
