<div class="container">
<div class="row">
<div class="col-md-12 slider-container">
  <div class="swiper-container backpack-slides">
     <div class="swiper-wrapper">
      <swiper class="swiper-container" >
         <div class="swiper-slide">
              <div class="text">
                <h4>Currently logged in:</h4>
                 <p>User #1</p>
            </div>
            <img src="assets/images/currently-logged-in-1.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #2</p>
            </div>
            <img src="assets/images/currently-logged-in-2.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #3</p>
            </div>
            <img src="assets/images/currently-logged-in-3.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #4</p>
            </div>
            <img src="assets/images/currently-logged-in-4.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #5</p>
            </div>
            <img src="assets/images/currently-logged-in-5.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #1</p>
            </div>
            <img src="assets/images/currently-logged-in-1.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #2</p>
            </div>
            <img src="assets/images/currently-logged-in-2.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #3</p>
            </div>
            <img src="assets/images/currently-logged-in-3.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #4</p>
            </div>
            <img src="assets/images/currently-logged-in-4.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #5</p>
            </div>
            <img src="assets/images/currently-logged-in-5.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #1</p>
            </div>
            <img src="assets/images/currently-logged-in-1.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #2</p>
            </div>
            <img src="assets/images/currently-logged-in-2.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #3</p>
            </div>
            <img src="assets/images/currently-logged-in-3.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #4</p>
            </div>
            <img src="assets/images/currently-logged-in-4.jpg" class="img-responsive" alt="">
          </div>

          <div class="swiper-slide">
            <div class="text">
              <h4>Currently logged in:</h4>
              <p>User #5</p>
            </div>
            <img src="assets/images/currently-logged-in-5.jpg" class="img-responsive" alt="">
          </div>
        </swiper>
      </div>
    </div>
  </div>
</div>
</div>
