<div class="row">
  <div class="col-md-12">
    <div class="slider-container">
      <div class="row">
        <div class="slider-labels col-xs-12">
            <a href="#" data-slider="1"><span class="icon pe-is-w-sun-1"></span></a>
            <a href="#" data-slider="2"><span class="icon pe-is-w-partly-cloudy-1"></span></a>
            <a href="#" data-slider="3"><span class="icon pe-is-w-mostly-cloudy-1"></span></a>
            <a href="#" data-slider="4"><span class="icon pe-is-w-moon-1"></span></a>
        </div>
        <div id="slider"></div>
      </div>
    </div>
  </div>
</div>
