<div class="overlay overlay-sunny" style="height: 823px;"></div>

  <app-select-band></app-select-band>

  <div class="container trek-start-message">
    <div class="row">
      <div class="col-md-12">
        <div class="welcome animated fadeIn">
          <h2>Your TN River Trek Contents are provided above.<br> Select an option when you're ready to start.</h2>
        </div>
      </div>
    </div>  
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 button-holder">
        <div class="button animated fadeIn">
          <button routerLink="/map" class="btn btn-lg btn-start" data-toggle="tooltip" data-placement="bottom" title=""aria-describedby="tooltip161150">Go To Map</button><div class="tooltip fade bottom in" role="tooltip" id="tooltip161150" style="top: 144px; left: 524.992px; display: block;"><div class="tooltip-arrow" style="left: 50%;"></div><div class="tooltip-inner">Go to your map</div></div>
      
        </div>
      </div>
    </div>
  </div>

<usernav-component></usernav-component>
  <img src="assets/images/compass.png" class="compass animated slideInUp">
