
    <div class="overlay overlay-sunny" style="height: 745px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-slider></app-slider>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="welcome animated fadeIn">
          <h2>Let's start by choosing a few journey paths. This is your River Trek, so tell us what you are interested in, and let's get started.</h2>
        </div>
        <form [formGroup]="riverTrekForm" class="form-group level-select level-select-trek row animated fadeIn"> 
           <label *ngFor = "let know of knows; let a = index" class="col-md-4"><span class="jcf-checkbox" ><span></span><input formControlName="journey" [(ngModel)]="journey"  name="journey" value="{{know.name[0].value}}"  type="checkbox"></span> {{know.name[0].value}}</label>
       </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 button-holder">
        
          <div class="button animated fadeIn">
              <button (click)="goToNext()"   class="btn btn-lg btn-start"> Get Started </button>
            </div>
      </div>
    </div>
  </div>

  <pre>{{journey | json}}</pre>
  <usernav-component></usernav-component>
  <img src="assets/images/compass.png" class="compass animated slideInUp">
