
@import "bootstrap/stylesheets/bootstrap";
// Bootstrap default overrides - settings and mixins
@import "sparky-variables";



// Add any javascript plugin styles here
@import "vendor/include-media";

$breakpoints: (
  xs-phone: 320px,
  phone: 480px,
  tablet: $screen-sm,
  desktop: $screen-md,
  widescreen: $screen-lg
);

@import "plugins";
@import "jcf";
@import "weather-icons";

// Your main core theme styles
@import "river";
@import "map";
@import "main";
